body {
    background-color:#D8E3E7;
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
    color: #40514E;
}
h1 {
    font-size: 5.625rem;
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    color: #51C4D3;
}
h2{
    font-size: 2.5rem;
    color: #51C4D3;
    font-weight: bold;
}
h3{
    color: #1572A1;
}
h3, h2 {
    font-family: 'Montserrat', sans-serif;
}
p {
    line-height: 2;
}
a{
    color: #51C4D3;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
}
a:hover{
    color: #EAF6F6;
}
.top-container {
    background-color: #126E82;
    position: relative;
    padding-top: 100px;
}
.cloud1 {
    position: absolute;
    right:300px;
    top: 70px ;
}
.cloud2 {
    position: absolute;
    left: 300px;
    bottom: 330px;
}
.middle-container {
    margin: 100px 0;
}
.intro{
    width: 30%;
    margin: auto;
}
.profil{
    height: 200px;
    width: 200px;
}
.skills{
    margin: 100px auto;
}
.skill-row{
    width: 50%;
    margin: 100px auto;
    text-align: left;
}
.skillimg1{
    width: 25%;
    float: left;
    margin-right: 30px;
}
.skillimg2{
    width: 25%;
    float: right;
    margin-right: 30px;
}
.contact-desc{
    width: 40%;
    margin: 40px auto 60px auto;
}
.bottom-container {
    background-color: #132C33;
    padding: 50px 0 20px 0;
    
}
.footer-desc{
    color: #EAF6F6;
    font-size: 0.75rem;
    padding: 20px 0;
}
.btn {
    background: #126E82;
    background-image: -webkit-linear-gradient(top, #126E82, #2980b9);
    background-image: -moz-linear-gradient(top, #126E82, #2980b9);
    background-image: -ms-linear-gradient(top, #126E82, #2980b9);
    background-image: -o-linear-gradient(top, #126E82, #2980b9);
    background-image: linear-gradient(to bottom, #126E82, #2980b9);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
  }
hr{
    width: 5%;
    border-style: dotted none none;
    border-width: 8px;
    color: #c0c2c2;
    margin: 100px auto;
}
